/* .flip3D {
  width:240px;
  height: 200px;
  margin: 10px;
  float: left;
}
.flip3D > .front{
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  background: lavender;
  width: 240px;
  height: 200px;
  padding: 5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transition: -webkit-transform .5s linear 0s; */
/* }
.flip3D> .back{
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background: rgb(168, 168, 240);
  width: 240px;
  height: 200px;
  padding: 5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* transition: -webkit-transform .5s linear 0s; */
/* }
.flip3Dhover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.flip3Dhover > .back{
  transform: perspective(600px) rotateY(-180deg);
} */ 
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
  height: 480px;
  font-family: 'Raleway', sans-serif;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	/* position: relative; */
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  float: left;
	/* position: absolute; */
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background: rgb(188, 188, 250);
  text-align: center;

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background: lavender;
}